body {
    background: #9E7B9B;
}

.container {
    display: grid;
    grid-template: 0.1fr 1fr 0.1fr / 1fr 0.8fr 1fr;
    height: 100vh;
}
.calculator {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template: 0.02fr 0.5fr 0.04fr 1fr 0.02fr / 0.02fr 1fr 0.02fr;

}
.calculator-frame {
    grid-row: 1 / 6;
    grid-column: 1 / 4;
    background-color: #181818;
    border-radius: 20px ;
    z-index: 1;
    
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75), -9px 10px 5px 0px rgba(0,0,0,0.75);;
    -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75), -9px 10px 5px 0px rgba(0,0,0,0.75);;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75), -9px 10px 5px 0px rgba(0,0,0,0.75);;

}
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap');
#calculator-display {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #383838;
    border-radius: 20px;
    line-height: 5em;
    font-family: 'Signika', sans-serif;
    font-size: 3em;
    color: #EAE0D5;
    text-align: right;
    padding-right: 40px;
    z-index: 2;
}
.calculator-keys {
    grid-row:  4 / 5;
    grid-column: 2 / 3;
    background: dimgray;
    border-radius: 20px ;
    z-index: 2;
    display: grid;
    grid-template: 
                    "plus minus divide multiply" 1fr
                    "seven eight nine clear" 1fr
                    "four five six backspace" 1fr
                    "one two three enter" 1fr
                    "dot zero zero enter" 1fr;

}
button {
    appearance: none;
    border:  1px solid #181818;
    border-radius: 1px;
}
.number {
    background: #C6AC8F;

}
.operator {
    background: #7678ED;

}
.special {
    background: #EAE0D5;
}

.bottom-right {
    border-bottom-right-radius: 20px;
}
.bottom-left {
    border-bottom-left-radius: 20px;
}
.top-left {
    border-top-left-radius: 20px;
}
.top-right {
    border-top-right-radius: 20px;
}

#multiply {grid-area: multiply;}
#divide {grid-area: divide;}
#subtract {grid-area: minus;}
#add {grid-area: plus;}
#enter {grid-area: enter;}
#seven {grid-area: seven;}
#eight {grid-area: eight;}
#nine {grid-area: nine;}
#four {grid-area: four;}
#five {grid-area: five;}
#six {grid-area: six;}
#one {grid-area: one;}
#two {grid-area: two;}
#three {grid-area: three;}
#dot {grid-area: dot;}
#zero {grid-area: zero;}
#clear {grid-area: clear;}
#backspace {grid-area: backspace;}

@media only screen and (max-width: 600px) {
    .container {
        grid-template: 0.05fr 1fr 0.05fr / 0.05fr 1fr 0.05fr; 
    }
}